nav ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color:rgb(12, 4, 6);
  }
  nav{
      position:fixed;
      /* float: right; */
      padding-left: 70%;
  }
    
  li {
      float: right;
  }
    
  li a {
      display: block;
      color: rgb(212, 209, 211);
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
  }
    
  li a:hover {
      background-color:rgb(192, 183, 188);
  }
#order {
  text-align: center;
  color: rgb(112, 106, 108);
  font-size: 30px;
  font-weight: 900;
  font-family: Georgia, 'Times New Roman', Times, serif;
  background-image: url(../images/007.png);
  }
  
